/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.top-banner{
    display: flex;
    background-color: #2D25A0;
    color: white;
    justify-content: space-evenly;
    align-content: center;
    height: 677px;
    padding-top: 135px;

}
.top-button{
    background-color: #E02C6D;
    padding: 10px;
    border-radius: 5px;
}
.top-button a {
    color: white;
    text-decoration: none;
}
h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}
/* .half-banner {
    width: 40%;
} */
.half-banner img {
    width: 557px;
}
/* player list style  */
.player-list{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    width: 1050px;
    align-content: center;
    
}
.player {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 4px 10px 10px  10px #888888;;
    border:2px solid rgba(244, 249, 250, 0.897) ;
    margin: 10px;
    padding: 20px;
}
.player img {
    width:300px;

}
.player-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner-items {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-content: center;
    
}
.last-banner{
    justify-content: center;
    margin-top: 20px;
    padding: 75px;
}
.last-half-banner1{
    color: black;
    width: 466px;
    height: 309px;
}
.last-half-banner img {
    width: 567px;
    height: 427px;
}
/* last part of thid websit style  */
.footer-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    font-size: 32px;
/* }media quarry  */
@media only screen and(max-width :688px){
    .top-banner{
        background-color: red;
    }
}
    
}